body {
  font-family: 'Segoe UI', sans-serif;
  background: #f4f7f9;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #333;
  text-align: center;
}

.btn-play {
  display: block;
  margin: 20px auto;
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  border: none;
  padding: 24px 48px;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-play:hover {
  background-color: #1D701D;
}

.btn-sandbox {
  background-color: #BAC656;
}

.btn-sandbox:hover {
  background-color: #8B9437;
}

.btn-sandbox-crazy {
  background-color: #CB8556;
}

.btn-sandbox-crazy:hover {
  background-color: #944E20;
}

.btn-rules {
  border: 4px solid black;
  color: black;
  background-color: white;
}

.btn-rules:hover {
  background-color: gray;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

th, td {
  padding: 15px;
  text-align: center;
}

th {
  background-color: #e3eaf0;
  color: #333;
  font-weight: 600;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

.btn-watch {
  padding: 6px 12px;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-watch:hover {
  background-color: #0d8ae2;
}

.about-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.about-btn:hover {
  background-color: #555;
}

.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.3s;
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px 30px;
  border: 1px solid #888;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  animation: slideDown 0.3s ease;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover {
  color: #000;
}

@keyframes slideDown {
  from { transform: translateY(-50px); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.info {
  padding-left: 40px;
  text-indent: 20px;
  line-height: 1.6;
  max-width: 800px;
}

.info-box {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: justify;
}

.info-image {
  display: block;
  margin: 20px auto;
  max-width: 60%;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 8px;
}