svg {
    display: block;
    margin: auto;
    background: #eee;
    position: absolute;
}
.outer-border {
    fill: none;
    stroke: #BE885E;
    stroke-width: 27;
}
.line {
    pointer-events: none;
    fill: none;
    stroke-width: 2;
    opacity: 0.6;
}
.blue-line {
    stroke: #2CAFC3; 
}
.yellow-line {
    stroke: #F5E557; 
}
.orange-line {
    stroke: #C08139; 
}
.pink-line {
    stroke: #E48AE1; 
}
.green-line {
    stroke: #5FD75F; 
}
.maroon-line {
    stroke: #4E182A; 
}
.gray-line {
    stroke: #626269; 
}
.black-line {
    stroke: #000000;
    stroke-width: 1.6;
    stroke-dasharray: 10, 5;
}

.board-letter {
    user-select: none;
}
.figure {
    position: absolute;
    draggable: true;
}
.mini-figure {
    position: absolute;
}
#cell-id-display {
    user-select: none;
}

.stripe {
    pointer-events: none;
    fill: none;
    stroke: green;
}

.thick {
    stroke-width: 13;
}

.thin {
    stroke-width: 7;
}

.player-border {
    stroke-width: 0;
}

.black {
    fill: #000000;
}

.white {
    fill: #FFFFFF;
}

.gray {
    fill: #808080;
}