{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Шахматы на троих — Игры</title>
  <link rel="stylesheet" href="{% static 'css/home.css' %}" />
</head>
<body>
  <button class="about-btn" onclick="toggleModal()">О программе</button>
  <h1>Круглые шахматы на троих</h1>
  <div style="display: flex; justify-content: center;">
    <div style="display: flex; justify-content: center; width: 60%; gap: 10px;">
      <button class="btn-play" onclick="window.location.href='{% url 'lobby' %}'">Играть</button>
      <button class="btn-play btn-sandbox" onclick="window.location.href='{% url 'sandbox' %}'">Песочница (локально)</button>
      <button class="btn-play btn-sandbox-crazy" onclick="window.location.href='{% url 'sandbox_crazy' %}'">Песочница без правил</button>
      <button class="btn-play btn-rules" onclick="window.location.href='{% url 'rules' %}'">Правила игры</button>
    </div>
  </div>
  

  <h2>История игр</h2>

  <table>
    <tr>
      <th>Статус</th>
      <th>Создана</th>
      <th>Закончена</th>
      <th>Длительность</th>
      <th>Действие</th>
    </tr>
    {% for game in games %}
    <tr>
      <td>{{ game.get_status_display }}</td>
      <td>{{ game.created_at|date:"d.m.Y H:i" }}</td>
      <td>{% if game.ended_at %}{{ game.ended_at|date:"d.m.Y H:i" }}{% else %}—{% endif %}</td>
      <td>{% if game.duration %}{{ game.duration }}{% else %}—{% endif %}</td>
      <td><button class="btn-watch" onclick="window.location.href='/game/{{ game.id }}/'">Наблюдать</button></td>
    </tr>
    {% endfor %}
  </table>


  <div id="about-modal" class="modal">
    <div class="modal-content">
      <span class="close-btn" onclick="toggleModal()">&times;</span>
      <h2>О программе</h2>
      <p>Круглые шахматы на троих игроков — это экспериментальная браузерная игра с уникальными механиками и круговым полем. Основана на существующих правилах для игры в шахматы втроем на круглой доске.
      <br>Сделано на Python Django и JavaScript. Скрипт JS разделен на 7 файлов и упакован с помощью Webpack. Обмен сообщениями сделан на технологии Websocket.</p>
      <p><strong>Версия:</strong> 32 от 17.04.2025
        <br><strong>Разработчик:</strong> Горшков Тимофей</p>
    </div>
  </div>

  <script>
    function toggleModal() {
      const modal = document.getElementById('about-modal');
      modal.style.display = (modal.style.display === "block") ? "none" : "block";
    }

    // Закрытие при клике вне окна
    window.onclick = function(event) {
      const modal = document.getElementById('about-modal');
      if (event.target === modal) {
        modal.style.display = "none";
      }
    };
  </script>

</body>
</html>
