{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Шахматы на троих — Правила игры</title>
  <link rel="stylesheet" href="{% static 'css/home.css' %}" />
</head>
<body>
<div class="info-box">
	<h1 class="info">Правила:</h1>
	<p class="info">
		Цель игры - поставить мат обоим королям противника. Расставьте фигуры в 2 внешних ряда на доске так, чтобы фигуры каждого игрока располагались между зелеными линиями. Убедитесь, что все короли находятся на пустых местах. Белые идут первыми, затем игра продолжается по часовой стрелке серыми, затем черными.
	</p>
	<img src="{% static 'images/rules1.jpg' %}" alt="Картинка правила круглые шахматы на троих" class="info-image">
	<img src="{% static 'images/rules11.jpg' %}" alt="Картинка правила круглые шахматы на троих" class="info-image">
	<img src="{% static 'images/rules12.jpg' %}" alt="Картинка правила круглые шахматы на троих" class="info-image">
	<p class="info">
		Можно проходить только через центр доски, это не то пространство, которое можно занять. Фигуры могут перемещаться прямо через центр на другую сторону. Соседние вертикальные квадраты, проходящие через центр, сохраняют тот же цвет. Конь также сохранит тот же цвет, если пройдет через центр. Чтобы переместить фигуру по диагонали через центр, следуйте траекториям, проведенным от квадрата к другой стороне. Вы можете захватывать фигуры с другой стороны от центра или перемещаться по нему, следуя линии. 
	</p>
	<img src="{% static 'images/rules2.jpg' %}" alt="Картинка правила круглые шахматы на троих" class="info-image">
	<p class="info">
		Когда фигура движется по диагональной траектории к внешнему ряду доски, эта фигура не может “завернуть за угол” и продолжить движение 1 ход подряд, она должна дождаться следующего хода, прежде чем сможет продолжить движение по траектории. 
	</p>
	<img src="{% static 'images/rules3.jpg' %}" alt="Картинка правила круглые шахматы на троих" class="info-image">
	<img src="{% static 'images/rules4.jpg' %}" alt="Картинка правила круглые шахматы на троих" class="info-image">
	<img src="{% static 'images/rules6.jpg' %}" alt="Картинка правила круглые шахматы на троих" class="info-image">
	<img src="{% static 'images/rules7.jpg' %}" alt="Картинка правила круглые шахматы на троих" class="info-image">
	<p class="info">
		Фигуры могут перемещаться вертикально по полям и через центр или горизонтально по доске в одном ряду. Перемещая коня по центру, не следуйте траекториям. Всякий раз, когда вы перемещаете коня, он должен переместиться на 2 клетки по вертикали, затем на 1 клетку по горизонтали, или на 1 клетку по вертикали, затем на 2 по горизонтали. Этот порядок перемещения необходим при работе со рвами. 
	</p>
	<img src="{% static 'images/rules8.jpg' %}" alt="Картинка правила круглые шахматы на троих" class="info-image">
	<p class="info">
		Толстые зеленые линии, разделяющие каждую команду на внешнем ряду, называются "РВАМИ". Ни одна фигура не может перемахнуть через ров короля противника, несмотря ни на что. Ни одна фигура не может пересекать ров, ни по горизонтали, ни по диагонали, если только ров не “Перекинут”. Фигура может на мгновение преодолеть ров, если ее перемещение через ров не приводит к захвату фигуры или не ставит под контроль короля противника. Но если игрок выбывает, то оба его рва навсегда закрываются для всех фигур. Кроме того, как только активный игрок освобождает внешний ряд от всех своих фигур, даже если позже он возвращает их обратно, его рвы также постоянно перекрываются. 
	</p>
	<img src="{% static 'images/rules9.jpg' %}" alt="Картинка правила круглые шахматы на троих" class="info-image">
	<p class="info">
		Если любая из конфигураций хода КОНЯ переносит его горизонтально через ров без того, чтобы этот конь мог перекинуть мост через ров, то этот ход является незаконным и не может быть выполнен.
	</p>
	<img src="{% static 'images/rules10.jpg' %}" alt="Картинка правила круглые шахматы на троих" class="info-image">
	<p class="info">
		Более тонкие зеленые линии над рвами, которые тянутся на 2 поля, называются “РУЧЬЯМИ”. Пешки не могут переходить через ручей на своей стороне доски. Сначала они должны продвинуться до места за пределами поля, в 4-м ряду с внешней стороны, прежде чем они смогут совершить захват в этом направлении. Как только пешка пересекает центр, она больше не видит поля.
	</p>
	<p class="info">
		Статус "ШАХ И МАТ" для команды не устанавливается до тех пор, пока не настанет ее очередь, если только ее король не будет взят в плен.
		Если позиция короля настолько неудачна, что ход следующей команды создает ШАХ со стороны следующей команды, то следующая команда может захватить этого короля, если пожелает. Если они это сделают, то считается, что им поставлен мат. 
	</p>
	<img src="{% static 'images/rules5.jpg' %}" alt="Картинка правила круглые шахматы на троих" class="info-image">
	<p class="info">
		Когда игроку ставят мат, он выбывает из игры, но все его фигуры остаются на доске. Эти фигуры не двигаются, они не могут поставить шах королю, и вы не можете пропустить через них фигуру. Если вы хотите занять место с фигурой выбывшего игрока, то вы должны захватить эту фигуру.
	</p>
	<p class="info">
		Если игрок не может сделать допустимый ход, что называется патовой ситуацией, и 3 игрока все еще находятся в игре, то этот игрок считается проигравшим и выбывает из игры. Если во время патовой ситуации осталось только 2 игрока, то игра заканчивается вничью.
	</p>

	<p class="info">
		В противном случае игра продолжается до тех пор, пока не останется только один игрок, и тогда этот игрок становится победителем. Кроме того, если вы поставите мат обоим соперникам одновременно, то выиграете вы.
	</p>

	<p class="info">
		Источник:
		<a href="https://www.youtube.com/watch?v=_LwSsqFrlvQ&ab_channel=TripleSGames">
			https://www.youtube.com/watch?v=_LwSsqFrlvQ&ab_channel=TripleSGames
		</a>
	</p>
</div>
</body>