{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Шахматы на троих</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
</head>
<body>
    <div style="display: flex; justify-content: center;" id="game" data-game-id="{{ game_id }}">
        <svg id="board" width="750" height="680" viewBox="-375 -375 750 750"></svg>
    </div>

    <div style="position: absolute; right: 50px; top: 100px; font-size: 20px;" id="cell-id-display">
        Наведи на клетку
    </div>

    <div id="player-display"></div>
    <div id="figure-player-display"></div>

    <div id="turn-display"></div>
    <div id="figure-turn-display"></div>
    <div id="win-display" style="display: none;">Победа!</div>
    <div id="defeat-display" style="display: none;">Поражение!</div>
    

    <script>
        const images = "{% static 'images' %}";
        const gameId = document.getElementById('game').dataset.gameId;
        let state_game;
        if(gameId === "sandbox") {
            state_game = JSON.parse("{{ game_state_json|escapejs }}");
            state_game.local = true;
        }
        else if(gameId === "sandbox-crazy") {
            state_game = JSON.parse("{{ game_state_json|escapejs }}");
            state_game.local = true;
            state_game.crazy = true;
        }
        else {
            state_game = JSON.parse(JSON.parse("{{ game_state_json|escapejs }}"));
        }
    </script>
    <script src="{% static 'js/bundle.js' %}"></script>
</body>
</html>
