{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Шахматы на троих</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
</head>
<body>
    <div style="display: flex; justify-content: center;">
        <svg id="board" width="750" height="680" viewBox="-375 -375 750 750"></svg>
    </div>

    <div style="position: absolute; right: 50px; top: 100px; font-size: 20px;" id="cell-id-display">
        Наведи на клетку
    </div>



    <script>
        const images = "{% static 'images' %}";
    </script>
    <script src="{% static 'js/bundle.js' %}"></script>
</body>
</html>
